h1{
    text-align: center;
    color: rgb(6, 138, 1);

}




body{
    background-image: url("goa.jpg") ;

}



p{
    text-align: center;
    color: rgb(89, 228, 33);


}


button{
    width: 200px,300px;


}

